// Fix float issues
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
}

@mixin responsive($breakpoint) {
    @media only screen and (min-width: map-get($breakpoint, "min")) and (max-width: map-get($breakpoint, "max")) {
        @content;
    }
}