// COLOR

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black: #000;
$color-white: #fff;
$color-dark-grey: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-light-grey-2: #eee;
$color-light-grey-1: #f7f7f7;


// FONT SIZES

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;


// MEDIA Q

$mobile-base: 600; // max width
$tablet-p-base: 900; // max width
$tablet-l-base: 1200; // max width
$laptop-base: 1799; // max width
$desktop-max: 10000; // min width

$mobile: ("min": 0, "max": calc-vp-em($mobile-base), );
$tablet-port: ("min": map-get($mobile, "max") + 1em, "max": calc-vp-em($tablet-p-base), );
$tablet-land: ("min": map-get($tablet-port, "max") + 1em, "max": calc-vp-em($tablet-l-base), );
$laptop: ("min": map-get($tablet-land, "max") + 1em, "max": calc-vp-em($laptop-base), );
$desktop: ("min": map-get($laptop, "max") + 1em, "max": calc-vp-em($desktop-max), );